In [61]:
# From a clinical trial, we have 12 patients with HIV infection. 
# After treatment, the disease progressed in 6 patients (1) and in 6 patients the infection did not progress (0). 
# Four measurements are taken in the 12 patients (Age, sugar levels, T cell levels and Cholesterol). 
# Which measurement can be used as a marker to describe progression of the disease? 
# Which will be the criteria to predict the progression? 
# The data can be found in „problem2.csv (x_age, x_sugar, x_Tcell, x_cholesterol, outcome). 
# Arrange the data and briefly explain your results. 
# The variable “y” (target) is a vector of 0 and 1 to represent the progression.

In [253]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings('ignore')

In [254]:
df = pd.read_csv('problem2.csv',header=None,index_col=0)
df2 = pd.DataFrame(df.values.T, index=df.columns, columns=df.index)
df2

0   x_age  x_cholesterol  x_sugar  x_Tcell  y
1      35            220       80      550  0
2      18            240      120      600  0
3      22            260       55      580  0
4      23            220       75      575  0
5      28            180      100      620  0
6      38            280       74      674  0
7      40            235      175      275  1
8      25            200      180      180  1
9      35            150      240      140  1
10     34            280      130       80  1
11     25            275      150      250  1
12     20            150      125      325  1

In [255]:
#age
x=df2[['x_age']]
y=df2['y']
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.3)
logmodel=LogisticRegression()
logmodel.fit(x_train,y_train)
predictions=logmodel.predict(x_test)
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.33      0.50      0.40         2
           1       0.00      0.00      0.00         2

    accuracy                           0.25         4
   macro avg       0.17      0.25      0.20         4
weighted avg       0.17      0.25      0.20         4

In [256]:
#cholesterol
x=df2[['x_cholesterol']]
y=df2['y']
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.3)
logmodel=LogisticRegression()
logmodel.fit(x_train,y_train)
predictions=logmodel.predict(x_test)
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.50      1.00      0.67         2
           1       0.00      0.00      0.00         2

    accuracy                           0.50         4
   macro avg       0.25      0.50      0.33         4
weighted avg       0.25      0.50      0.33         4

In [257]:
#sugar
x=df2[['x_sugar']]
y=df2['y']
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.3)
logmodel=LogisticRegression()
logmodel.fit(x_train,y_train)
predictions=logmodel.predict(x_test)
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         3
           1       0.25      1.00      0.40         1

    accuracy                           0.25         4
   macro avg       0.12      0.50      0.20         4
weighted avg       0.06      0.25      0.10         4

In [258]:
#Tcell
x=df2[['x_Tcell']]
y=df2['y']
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.3)
logmodel=LogisticRegression()
logmodel.fit(x_train,y_train)
predictions=logmodel.predict(x_test)
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.50      1.00      0.67         1
           1       1.00      0.67      0.80         3

    accuracy                           0.75         4
   macro avg       0.75      0.83      0.73         4
weighted avg       0.88      0.75      0.77         4